@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-family: 'nunito';
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: bold;
  color: #292929;
}

h6 {
  font-family: 'nunito';
  text-align: center;
  letter-spacing: -0.6px;
  color: #808285;
  font-weight: bold;
}

input {
  font-family: 'nunito';
  border-radius: 25px !important;
}

input:focus {
  outline: none;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper>div {
  position: relative;
}

.css-79elbk{
  position: absolute;
  height: 100vh;
  z-index: 1;
}